<div class="page-header">
  <h1>
    Interesteds
    <a href="/interesteds/new" class="btn btn-lg btn-success">New Interested</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>User</th>
        <th>Trek</th>
        <th>Actions</th>
      </tr>

      <% @interesteds.each do |interested| %>
      <tr>
        <td><%= interested.user.username %></td>
        <td><%= interested.trek.destination %></td>
        <td>
          <a href="/interesteds/<%= interested.id %>" class="btn btn-primary">Show</a>
          <a href="/interesteds/<%= interested.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_interested/<%= interested.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
