<div class="page-header">
  <h1> All Treks </h1>
  <h4> Explore new countries with like-minded friends</h4>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <a href="/treks/new" class="btn btn-default btn-block">
        <i class="fa fa-plus"></i>
      </a>
      <hr>
    </div>
  </div>

 <% @treks.each do |trek| %>
      <div class="row">
       <div class="col-md-8 col-md-offset-2">
         <div class="panel panel-default">
        <div class="panel-heading">
         <h3 class="panel-title">
           <%= link_to trek.user.username, "/users/#{trek.user.id}" %>
           <small>
             <%= time_ago_in_words(trek.created_at) %> ago
           </small>
        </h3>
        </div>

        <div class="panel-body">
        <h4><%= trek.destination %></h4>
        <td><%= trek.description %></td>
        <td><img src="<%= trek.image %>" class="col-md-12"></td>

        <ul class='trek-overview'>
            <li>
               <span class='title'>Status: </span>
               <span class='value'>
                 <% if trek.start_date > Date.today %>
                    <i class="fa fa-heart"></i>
                    Active!!
                    <a href="/treks/<%=trek.id%>">See the details</a>
                 <% else%>
                    Closed
                 <% end %>
               </span>
             </li>
              <li>
                <span class='title'>Start Date: </span>
                <span class='value'><%= trek.start_date %></span>
              </li>
              <li>
                  <span class='title'>End Date: </span>
                  <span class='value'>  <td><%= trek.end_date %></td></span>
              </li>
              <li>
                <span class='title'>Days to go: </span>
                <span class='value'>  <td><%= trek.days_to_go %></td></span>
              </li>
              <div class="clear"></div>
        </ul>

        <p>
              <% like = Interested.find_by(:trek_id => trek.id, :user_id => current_user.id) %>
                  <% if like.present? %>
                    <a href="/delete_interested/<%= like.id %>" class="btn btn-link">
                      <i class="fa fa-bookmark"></i>
                    </a>
                    <% if trek.interested_users.any? %>
                    <%= trek.interested_users.pluck(:username).to_sentence %>
                    <%= trek.interested_users.many? ? "are" : "is" %>
                    interested in this
                    <% end %>
                  <% else %>
                    <form action="/create_interested" method="post">
                      <!-- Hidden input for authenticity token to protect from forgery -->
                      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

                      <input type="hidden" name="trek_id" value="<%= trek.id %>">

                      <input type="hidden" name="user_id" value="<%= current_user.id %>">

                      <button class="btn btn-link">
                        <i class="fa fa-bookmark-o"></i>
                      </button>

                      <% if trek.interested_users.any? %>
                      <%= trek.interested_users.pluck(:username).to_sentence %>
                      <%= trek.interested_users.many? ? "like" : "likes" %>
                      this
                      <% else %>
                      <small class="text-muted">be the first interested in this trek</small>
                      <% end %>
                    </form>
                  <% end %>
              </p>
              <p>
                <% like = Going.find_by(:trek_id => trek.id, :user_id => current_user.id) %>
                    <% if like.present? %>
                      <a href="/delete_going/<%= like.id %>" class="btn btn-link">
                        <i class="fa fa-calendar-check-o"></i>
                      </a>
                      <% if trek.interested_users.any? %>
                      <%= trek.interested_users.pluck(:username).to_sentence %>
                      <%= trek.interested_users.many? ? "are" : "is" %>
                      going
                      <% end %>
                    <% else %>
                      <form action="/create_going" method="post">
                        <!-- Hidden input for authenticity token to protect from forgery -->
                        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

                        <input type="hidden" name="trek_id" value="<%= trek.id %>">

                        <input type="hidden" name="user_id" value="<%= current_user.id %>">

                        <button class="btn btn-link">
                          <i class="fa fa-calendar-check-o"></i>
                        </button>

                        <% if trek.participants.any? %>
                        <%= trek.participants.pluck(:username).to_sentence %>
                        going to this
                        <% else %>
                        <small class="text-muted">be the first to join this trek</small>
                        <% end %>
                      </form>
                    <% end %>
          </p>

          <% trek.comments.each do |comment| %>
          <p class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <%= link_to comment.user.username, "/users/#{comment.user.id}" %>
                <small>
                  <%= time_ago_in_words(comment.created_at) %> ago
                  <% if comment.user == current_user %>
                    <a href="/delete_comment/<%= comment.id %>">
                      <i class="fa fa-trash"></i>
                    </a>
                  <% end %>
                </small>
              </h6>
              <%= comment.body %>
            </div>
          </p>
          <% end %>

          <p class="media">
            <div class="media-body">
              <form action="/create_comment" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

                <input type="hidden" name="trek_id" value="<%= trek.id %>">

                <input type="hidden" name="user_id" value="<%= current_user.id %>">

                <!-- Label and input for body -->
                <div class="form-group">
                  <label for="body" class="sr-only">
                    Body
                  </label>

                  <input type="text" id="body" name="body" placeholder="Add a comment..." class="form-control" required>
                </div>
              </form>
            </div>
          </p>


        <% if current_user.id == trek.user_id%>
        <td>
          <a href="/treks/<%= trek.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_trek/<%= trek.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
        <% end %>

       </div>
       </div>
      </div>
      </div>
<% end %>
