<div class="page-header">
  <h1> All Treks </h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <a href="/treks/new" class="btn btn-default btn-block">
        <i class="fa fa-plus"></i>
      </a>
      <hr>
    </div>
  </div>

 <% @treks.each do |trek| %>
      <div class="row">
       <div class="col-md-8 col-md-offset-2">
         <div class="panel panel-default">
         <div class="panel-heading">
         <h3 class="panel-title">

        <td><%= trek.destination %></td>
        <td><%= trek.start_date %></td>
        <td><%= trek.end_date %></td>
        <td><%= trek.description %></td>
        <td><%= trek.user.username %></td>
        <td><img src="<%= trek.image %>" class="col-md-12"></td>
        <td><%= trek.days_to_go %></td>
        <td>
          <a href="/treks/<%= trek.id %>" class="btn btn-primary">Show</a>
          <a href="/treks/<%= trek.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_trek/<%= trek.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>

    </h3>
       </div>
       </div>
      </div>
      </div>
<% end %>





    <!-- </table>
  </div>
</div> -->
